<div id="footer">
  <div class="subcolumns">
    <div class="c50l">
      <div class="subcl">
	<div id="ansprechpartner">Last modified:
          
          | <a href="http://www.ruhr-uni-bochum.de/impressum_en.htm" title="Imprint Ruhr-University Bochum">Imprint</a> |
          Contacts
          for <a href="mailto:patrick.happel@ruhr-uni-bochum.de" title="Contact for content">Content</a>
          &amp; <a href="mailto:rubion+webmaster@rub.de" title="Contact for Tech">Tech</a>
	</div>
      </div>
    </div>
    <div class="c50r">
      <div class="subcr">
	<div id="umschaltung"> 
	  <span id="normalversion"><a href="#" onclick="activeCSS('RUB-Normal'); Logowechsel(); return false;" title="Change Contrast">normal</a></span>
	  <span id="kontrastversion"><a href="#" onclick="activeCSS('Kontrast'); Logowechselinvers(); return false;" title="Change contrast">high contrast</a></span>
	  &nbsp;<span id="druckversion"><a href="#" onclick="javascript:self.print(); return false;" title="Print this page">Print</a></span>
	</div>
      </div>
    </div>
  </div>
</div>
