{% extends "base.html" %}
{% load i18n static %}
{% block content %}
<h2>{% trans "Password required" %}</h2>
<p>{% trans "You need a password to access this page." %}</p>
<form action="{{ action_url }}" method="POST">
  {% csrf_token %}
  
  {{ form.non_field_errors }}
  
  <div>
    {{ form.password.errors }}
    {{ form.password.label_tag }}
    {{ form.password }}
  </div>

  {% for field in form.hidden_fields %}
  {{ field }}
  {% endfor %}
  <p class="action">
    <button type="submit" class="button"><span class="icon"><i class="fa fa-caret-right"></i></span><span class="text">{% trans "Continue" %}</span></button>
  </p>
</form>
{% endblock %}
{% block extra_css %}
  {% include "website/fontawesome.html" %}
  <link rel="stylesheet" href="{% static "css/forms.css" %}"></link>
{% endblock %}
