{% extends "wagtailadmin/base.html"%}
{% load static i18n %}
{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/admin/plotly-latest.min.js' %}"></script>
{% endblock %}
{% block extra_css %}
{{block.super}}
<style>
  .statsdisplay h2{
  background-color:#003560;
  color:#fff;
  padding:1em;
  }
</style>
{% endblock %}
{% block titletag %}{{ view.page_title }}{% endblock %}
{% block content %}

<div class="statsdisplay">
<h2>{% trans 'Users' %}</h2>
<div id="users" style="width:90%;height:400px;"></div>
</div>
<div class="statsdisplay">
    <h2>{% trans 'Workgroups' %}({% trans "Total:"%} {{groups.total}})</h2>
    <div id="groups" style="width:45%;height:400px;display:inline-block"></div>
    <div id="groups_by_area" style="width:45%;height:400px;display:inline-block"></div>

</div>
<div class="statsdisplay">
<h2>{% trans 'Projects' %}</h2>
    <div id="projects" style="width:55%;height:400px;display:inline-block"></div>
    <div id="projects_by_area" style="width:40%;height:400px;display:inline-block"></div>
</div>

<script>


  total_users_data = {
    x   : [{{users_by_time.months}}], 
    y    : [{{users_by_time.usercount}}],
    mode : 'lines+markers',
    type : 'scatter',
    line : { color : '#808080' },
    marker : {
      color : '#000',
      symbol : 'square-dot',
    },
  name : '{% trans "total users" %}',
  }
  i_users_data = {
    x   : [{{users_by_time.months}}], 
    y    : [{{users_by_time.iusercount}}],
    mode : 'lines+markers',
    type : 'scatter',
    marker : {
      color : '#003560',
      symbol : 'square-dot',

    },
    line : { color : '#2c74b0' },
  name : '{% trans "RUB users" %}',
  }
  e_users_data = {
    x   : [{{users_by_time.months}}], 
    y    : [{{users_by_time.eusercount}}],
    mode : 'lines+markers',
    type : 'scatter',
    marker : {
      color : '#8dae10',
      symbol: 'square-dot',
    },
    line : { color : '#b7d744' },

  name : '{% trans "external users" %}',
  }

  Plotly.newPlot('users', [total_users_data, i_users_data, e_users_data],{}, {height:400, width:500});
  
  GROUPS = document.getElementById('groups');

  var values = [
    {{groups.internal}},
    {{groups.internal_inactive}},
    {{groups.external}},
    {{groups.external_inactive}}
  ];
  var labels =[
    '{% trans "Groups from RUB" %}',
    '{% trans "Groups from RUB" %} ({% trans "inactive" %})',
    '{% trans "Groups external" %}',
    '{% trans "Groups external" %} ({% trans "inactive" %})'
  ];

  var colors = [ 
    '#003560', '#4f84b0', '#8dae10', '#c0d76b'
  ];

  var data = [{
    title : {
     text : '{% trans "Groups by origin" %}',
     font : {
       family: 'RUB Flama, RUBFlama, Arial',
       size :  20
     }
  },
  type : 'pie',
    marker: { 
      colors: colors
    },
  values : values,
  labels : labels,
  textinfo : 'value'
}]

groups_by_area = [
    {
	type : 'pie',
	labels : [{% for k,v in groups_by_area.items %} '{{v.name}}', {% endfor %}],
	values : [{% for k,v in groups_by_area.items %} {{v.count}}, {% endfor %}],
	marker  : {
	    colors : ['#003560', '#8dae10', '#e7e7e7']
	},
	title : {
	    text : '{% trans "Groups by area" %}',
	    font : {
		family: 'RUB Flama, RUBFlama, Arial',
		size :  20
	    }
	},
	sort = false,
    }
]

Plotly.newPlot(GROUPS, data,{}, {height:400, width:500});
Plotly.newPlot('groups_by_area', groups_by_area);


project_data = [
    {
	x : [{{ projects.months }}],
	y : {{ projects.projectcounts }},
	type: 'scatter',
	mode : 'markers+lines',
	line : { color: '#8dae10' },
	//    fill: 'tozeroy',
	marker: {
	    symbol: 'square-dot',
	    color: '#003650'
	}
    }]
project_by_area = [
    {
	type : 'pie',
	labels : [{% for k,v in projects_by_area.items %} '{{v.name}}', {%endfor %}],
	values : [{% for k,v in projects_by_area.items %} {{v.count}}, {%endfor %}],
	marker  : {
	    colors : ['#003560', '#8dae10', '#e7e7e7']
	},
	sort = false,
    }
]

Plotly.newPlot('projects', project_data)
Plotly.newPlot('projects_by_area', project_by_area)

</script>
{% endblock %}

    
