.tab-container{
    position:relative;
    margin-bottom:1em;
    background:#e8efcf;
}
.tab-container fieldset + fieldset{
    margin-top:0;
}


.tab-buttons{
    position:relative;
    background:#e8efcf;
    font-size:100%;
    padding-top:.2em
}

.tab-buttons *{
    display:inline-block;
    padding:1em;
}

.tab-label{
    float:right;
    margin-right:.3em;
    padding:1em;
    border-top:2px solid transparent;
}

.tab-button{
    float:right;
    margin-right:.5em;
    padding-top:0.7em;
    padding-bottom:.7em;
    margin-top:.45em;
    cursor:default;
    border:thin solid #003560;
    border-radius:5px;
    background:#f1f2f2;
}
.tab-button:before{
    font-family:FontAwesome;
    content:' ';
    display:inline-block;
    margin-right:.5em;
}
.tab-buttons .legend{
    font-weight:bold;
    font-size:120%;

    padding-bottom:00.8333333333333333em;
    padding-bottom:1em;
}
.tab-buttons .tab-button+ .tab-button{
    margin-left:.5em;
}
.tab-content{
    clear:right;
}
.tab-content legend, .tab-content fieldset{
    display:none;
}
.tab-content fieldset.active{
    display:block;
}

.tab-button.active{
    background:#003560;
    font-weight:bold;
    border-top:2px solid transparent;
    color:#fff;
}
.tab-button.active:before{
    content:'\f00c';
}
