{% extends "base.html" %}
{% load i18n website_tags wagtailroutablepage_tags static %}

{% block sidebarcontent %}
{% with parent=page.get_parent.specific %}
{% render_sidebar parent %}
{% endwith %}
{% endblock %}
{% block content %}
<h2>{% trans "Validation mail sent" %}</h2>
<p>{% trans "You have succesfully reserved a place in the course" %}
  {{ parent.title_trans }} {% trans "from" %} {{ page.start|date }} {% trans "to" %}
  {{ page.end|date }}.</p>
<p>{% trans "To confirm your registration, we have sent an email to" %}</p>
<blockquote>
<strong>{{attendee.email}}</strong> 
</blockquote>
<p>
  {% trans "containing a temporary link. Please click this link to confirm your registration." %}</p>
<p>
 {% trans "Please note: If you do not confirm your registration until" %} {{valid_until}} 
 {% trans "your place will be given to others." %}
</p>
{% endblock %}

{% block extra_css %}
  {% include "website/fontawesome.html" %}
  <link rel="stylesheet" type="text/css" href="{% static "css/multiform-indicator.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/forms.css" %}" />
{% endblock %}
