{% extends "base.html" %}
{% load website_tags static i18n wagtailcore_tags %}
{% block sidebarcontent %}
<div class="floatmarginbox buttonlist">
  <ul class="buttonlist"> 
    <li>
      <a href="{% pageurl page %}{% if show_active %}?status=closed{% endif %}" class="button fullwidth"><span class="icon"><i class="fa-fw fa fa-refresh"></i></span><span class="text">{% if show_active %}{% trans "Show closed projects" %}{% else %}{% trans "Show active projects" %}{% endif %}</span></a>
    </li>
    {% if settings.website.ImportantPages.workgroup_list %}
    <li>
      <a class="button fullwidth" href="{% pageurl settings.website.ImportantPages.workgroup_list %}"><span class="icon"><i class="fa-fw fa fa-users"></i></span><span class="text">{% trans "List of workgroups" %}</span></a>
    </li>
    {% endif %}
  </ul>
</div>
{% endblock %}
{% block content %}
<h2>{{page.title_trans}}</h2>
{% if page.introduction %}
<div class="introduction">
{{ page.introduction }}
</div>
{% endif %}
<div class="listofchildren">
{% for child in projects %}
{% render_as_child child %}
{% endfor %}
</div>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static "css/container.css" %}"/>
{% include "website/fontawesome.html" %}
{% endblock %}
